@using Pustok.Contracts;
@model CurrencyResult

<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">Currencies</h4>
        </div>
        <!--end page-title-box-->
    </div>
    <!--end col-->
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row justify-content-between">
                    <div class="col-2">
                        <span>Base : @Model.Base</span>
                        <br />
                        <span>Date time  : @Model.Date</span>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="categories-table" class="table table-striped mb-0 ">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Currency</th>
                                <th>Rate</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int rowCounter = 1;
                            }
                            @foreach (var rate in Model.Rates)
                            {
                                <tr>
                                    <td>@(rowCounter++)</td>
                                    <td>@rate.Key</td>
                                    <td>@rate.Value</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div><!--end /tableresponsive-->
            </div><!--end card-body-->
        </div><!--end card-->
    </div> <!-- end col -->
</div>
